:host {
  --header-font-size: var(--pl-user-info-header-size, 24px);
  --header-margin: var(--pl-user-info-header-margin, 7px);
  --copy-font-size: var(--pl-user-info-copy-size, 12px);
  --copy-line-height: var(--pl-user-info-copy-line-height, 15.12px);
  --location-margin-bottom: var(--pl-user-info-margin-bottom, 2px);
  --color: var(--pl-user-info-color, #000000);

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", "Helvetica Neue", sans-serif;
  color: var(--color);
  text-align: center;

  p {
    font-size: var(--copy-font-size);
    font-weight: 100;
    line-height: var(--copy-line-height);
    text-align: center;
    margin-top: 0;
  }

  a {
    font-size: var(--copy-font-size);
    font-weight: 100;
    line-height: 20.16px;
    text-align: center;
    color: #2F5DFF;
  }

  .name {
    margin: 0;
    margin-bottom: var(--header-margin);
    font-size: var(--header-font-size);
  }

  .handle {
    font-size: 12px;
    line-height: 15.12px;
    margin-bottom: 19px;
  }

  .bio {
    margin-bottom: 19px;
  }

  .location {
    margin-bottom: var(--location-margin-bottom);
  }
}
