:host {
  --color: var(--pl-user-info-color, #000000);
  --link-color: var(--pl-user-info-color, #2F5DFF);

  --header-font-size: 24px;
  --copy-font-size: 12px;
  --header-margin: 7px;
  --copy-line-height: 15.12px;
  --location-margin-bottom: 2px;

  container-type: inline-size;
  container-name: info;

  display: block;
  width: 100%;
  font-family: "Outfit", "Helvetica Neue", sans-serif;
  color: var(--color);
  text-align: center;

  @container info (min-width: 250px) {
    .info__wrapper {
      --header-font-size: 32px;
      --copy-font-size: 16px;
      --header-margin: 5px;
      --copy-line-height: 20.16px;
      --location-margin-bottom: 4px;
    }
  }

  p {
    font-size: var(--copy-font-size);
    font-weight: 100;
    line-height: var(--copy-line-height);
    text-align: center;
    margin-top: 0;
  }

  a {
    font-size: var(--copy-font-size);
    font-weight: 100;
    line-height: 20.16px;
    text-align: center;
    color: var(--link-color);
  }

  .name {
    margin: 0;
    margin-bottom: var(--header-margin);
    font-size: var(--header-font-size);
  }

  .handle {
    font-size: 12px;
    line-height: 15.12px;
    margin-bottom: 19px;
  }

  .bio {
    margin-bottom: 19px;
  }

  .location {
    margin-bottom: var(--location-margin-bottom);
  }
}
